@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Roboto&family=Roboto+Slab&family=Tiro+Telugu&display=swap');

*,
*::before,
*::after{
    box-sizing: border-box;
}


.container{
    position: relative;
    margin-top: 20px;
}

.a-banner-text h1{
    display: flex;
    letter-spacing: 5px;
    font-size: 40px;
    color: #fff;
    width: 650px;
    background-image: linear-gradient(to right, black, rgba(0, 0, 0, 0.329));
    position: absolute;
    top: 160px;
    left: 100px;
    font-family: 'Roboto Slab', serif;
}

.line-red{
    border-left: #8b0606 solid 5px;
    height: 60px;
    margin-right: 10px;
}

.banner-img{
    height: 500px;
}


.container-a{
    margin-top: 50px;
    width: 80%;
    max-width: 1400px;
}

.container-a-head{
    width: 100%;
    display: grid;
    place-items: center;
    font-family: 'Roboto Slab', serif;
}

.container-a-head h1{
    color: #8b0606;
    font-family: 'Roboto Slab', serif;
}

.h3{
    color: #575C62;
    text-align: left;
    font-family: 'Roboto Slab', serif ;
    font-size: 20px ;
}

.container-a p{
    font-size: 18px;
    text-align: left;
    color: #7a7a7a;
    line-height: 1.6;
}

.container3{
    margin-bottom:50px;
}

.team-container a{
    color: #333333;
    font-weight: 400;
    outline: none;
    text-decoration: none;
    transition: 0.5s;
}
.team-container a:hover,
.team-container a:focus{
    outline: none;
    text-decoration: none;
}
.team-container p{
    padding: 0;
    margin: 0 0 15px 0;
    color: #454545;
    font-weight: 300;
}
.team-container h2,.team-container h3,.team-container h4,.team-container h5,.team-container h6{
    padding: 0;
    margin: 0 0 15px 0;
    color: #333333;
    font-weight: 700;
}
.team-container img{
    width: 100%;
    height: auto;
}
.team-container{
    margin: 40px  auto;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.column{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 100%;
    max-width: 100%;
}
.team{
    margin-bottom:30px ;
}
.team .team-img{
    position: relative;
    font-size: 0;
    text-align: center;
}
.team .team-img img{
    width: 160px;
    height: auto;
    border-radius: 100%;
    border: 20px solid #f3f4fa;
}

.team .team-content{
    padding: 80px 20px 20px 20px;
    margin-top: -80px;
    text-align: center;
    background: #f3f4fa;
    border-radius: 10px;
}
.team .team-content h2{
font-size: 25px;
font-weight: 400;
letter-spacing: 2px;
}
.team .team-content h3{
    font-size: 16px;
    font-weight: 300;
}
.team .team-content h4{
    font-size: 16px;
font-weight: 300;
letter-spacing: 1px;
font-style: italic;
margin-bottom: 0;
}
.team .team-content p{
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}
.team .team-social{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 35px;
    top: 0;
    left:0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, .6);
    transition: all .3s;
    font-size: 0;
    z-index: 1;
    opacity: 0;
}
.team:hover .team-social{
    opacity: 1;
}
.team .team-social a{
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right:5px ;
    padding: 11px 0 10px 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    text-align: center;
    color: #ffffff;
    border-radius: 10px;
    transition: all .3s;
    margin-top: 50px;
}
.team .team-social a.social-tw{
    background: #00acee;
}
.team .team-social a.social-fb{
    background: #3b5998;
}
.team .team-social a.social-li{
    background: #0e76a8;
}
.team .team-social a.social-in{
    background: #3f729b;
}
.team .team-social a.social-yt{
    background: #c4302b;
}
.team .team-social a:last-child{
    margin-right: 0;
}
.team:hover .team-social a{
    margin-top: 0;
}
.team .team-social a:hover{
    background: #222222;
}


/* Mobile Responsive */

@media screen and (max-width: 900px){
    .a-banner-text h1{
      font-size: 30px;
      height: 40px;
      width: 400px;
      top: 120px;
    }

    .banner-img{
        height: 320px;
    }

    .line-red{
        height: 40px;
    }

    .mc-2 img{
        width: 400px;
    }
  }


@media (min-width: 576px){
    .team-container{
        max-width: 540px;
    }
    .column{
        max-width: 50%;
    }
}
@media (min-width: 768px){
    .team-container{
        max-width: 720px;
    }
    .column{
        max-width: 33.333333%;
    }
}
@media (min-width: 992px){
    .team-container{
        max-width: 960px;
    }
    .column{
        max-width: 25%;
    }
}
@media (min-width: 1200px){
    .team-container{
        max-width: 1140px;
    }

}