.container{
    position: relative;
    margin-top: 20px;
}

.c-banner-text h1{
    display: flex;
    letter-spacing: 5px;
    color: #fff;
    font-size: 40px;
    width: 650px;
    background-image: linear-gradient(to right, #161414, rgba(0, 0, 0, 0.329));
    position: absolute;
    top: 160px;
    left: 100px;
    font-family: 'Roboto Slab', serif;
}

.line-red{
    border-left: #8b0606 solid 5px;
    height: 60px;
    margin-right: 10px;
}

.banner-img{
    height: 500px;
}

.c-heading{
    width: 80%;
    margin-top: 20px;
}

.c-heading p {
    line-height: 1.8;
    color: #8a8a8a;
    font-size: 18px;
}

.c-heading h4{
    color: #7a7a7a7a;
}

.container-c-head{
    display: grid;
    place-items: center;
    font-family: 'Roboto Slab', serif;
}

.container-c-head h1{
    color: #8b0606;
    font-family: 'Roboto Slab', serif;
}


.c-container{
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin: 40px auto;
}

.course-div{
    text-align: center;
}

.course-div img{
    margin-top: 10px;
    width: 450px;
    height: 350px;
}

.course-div h2{
    color: #333333;
    letter-spacing: 4px;
    font-family: 'Roboto Slab', serif;
    margin: 20px auto;
    margin-bottom: 50px;
    text-transform: uppercase;
}

.course-div a{
    color: #fff;
    background-color: #8b0606;
    padding: 8px 25px;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 2px;
    border: solid 1px #8b0606;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.course-div a:hover{
    background-color: #5f0101
}


@media screen and (max-width: 950px){
    .c-container{
        grid-template-columns: 1fr;
    }

    .line-red{
        height:40px;
    }

    .c-banner-text h1{
        width: 400px;
        height: 40px;
        font-size: 20px;
        top: 100px;
    }

    .banner-img{
        height: 300px;
    }
}
